<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agenda de Contactos</title>
    <meta tharset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   <div id="page_wrap">
    <header class="main" id="h1">
<h2>Agenda Contactos</h2>

    </header>
    <nav class="main" id="n1" role="navigation">
    	<samp><a href="/">Inicio</a></samp>
        <samp><a href="/registroContacto">Registar Contacto</a></samp>
    </nav>
    <section class="main" id="s1">   <%- body %>
</section>
 <footer class="main" id="f1">
 	<a href="">Contactenos</a></footer>

   </div>
  </body>
</html>
